@import "tailwindcss"; 

h1, h2, h3, h5, button {
  font-family: var(--font-poppins), sans-serif;
}

a, p, li {
  font-family: var(--font-inter), sans-serif;
}

nav li a {
   font-size: 1rem;
   font-weight: 600!important; 
   color: #121212;
}
nav li a:hover{
  color: #E31E24
}
nav li {
  color: #121212!important;
}

.h1{
  color: #F9F9F9;
  font-weight: 600;
font-size: 35px;
  line-height: 0%;
  text-align: center;
}

.pro-card:hover button {
  background-color: #E31E24;
  color: white!important; 
 
}
.pro-card:hover {
    transform: translateY(-10); 
    transition: all 0.25s ease   ;
}

.about button{
  display: none
}


@media (max-width: 578px) {
  button{
    width: 86px;
    height: 26px;
    font-size:10px ;
  }
  .hero-com img {
    width: 160!important;
    height: 165px!important ;
  }
}
