@import "tailwindcss"; 

h1, h2, h3, h5, button {
  font-family: var(--font-poppins), sans-serif;
}

a, p, li {
  font-family: var(--font-inter), sans-serif;
}

nav li a {
   font-size: 1rem;
   font-weight: 600!important; 
   color: #121212;
}
nav li a:hover{
  color: #E31E24
}
nav li {
  color: #121212!important;
}

.h1{
  color: #F9F9F9; 
  line-height: 0%;
  text-align: center;
}

.pro-card:hover button {
  background-color: #E31E24;
  color: white!important; 
 
}

.pro-card:hover {
    transform: translateY(-10); 
    transition: all 0.25s ease   ;
}
 

.about button{
  display: none
}

.cat-card-com img{
  width: 150px!important;
  height: 150px!important;
}

@media(min-width: 992px) {
  .topProduct{
     padding-left: 5.5em;
     padding-top: '2em'
  }
  .cat-pro-sec{
     padding-left: 6.1em
  }
  .drink-cat img{
    width: 100%!important; 
  }
    /* button{
    width: 200px;
    height: 38px;
    font-size:10px ;
  } */
}


@media (max-width: 578px) {
  button{
    width: 102px;
    height: 32px;
    font-size:10px ;
  
  }
  .hero-com img {
    width: 155!important;
    height: 160px!important ;
  }
  .prodcat-com button{
    width: 100%!important;
    height: 35px!important;
    padding: 10px 2px!important;
    margin-bottom: 10px!important;
      border-radius: 11px!important;
  }
  .prodcat-com img{
    width: 120px!important
  }
   .cat-pro-sec{
     padding-left: 3.1em
  } 
}

@media (max-width:350px) {
  .prodcat-com {
    width: 150px;
    padding-left: 2px;
   padding-right: 2px;
  }
    .topProduct {
   padding-left: 2px;
   padding-right: 2px;
  }
  .h1{
    margin-bottom: 30px;
  }
}





